:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  /* background-color: #f5f7fa; */
  line-height: 1.6;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141010;

  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #080d71;
  text-decoration: inherit;
}
a:hover {
  color: #0a1080;
}

article {
    background: #9b9393;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);

    opacity: 1;
    transition:
        opacity 0.3s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
}
/* Fade out state */
article.hidden {
    opacity: 0;
    pointer-events: none;
}

/* cards placement */
section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;

    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

p {
  line-height: 1.1;
}

/* buttons  */
button:focus-visible,
a:focus-visible {
    outline: 3px solid #2563eb;
    outline-offset: 3px;
}

.filters {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.filters button.active {
    background: #2563eb;
    color: #ffffff;
    border-color: #dbdcde;
}
.filters button {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 1px solid hsl(0, 1%, 77%);
    background: #3c3939;
    cursor: pointer;
    font-weight: 500;
}

.filters button:hover {
    background: #1f3d5c;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  
}
